<div class="level-left mb-4">
  <div class="icon is-large mr-4">
    <img src="/assets/buoy .svg" class="fas fa-3x">
  </div>
  <div>
    <p class="heading is-size-5">Great Lakes Observing System</p>
    <p class="title is-size-6">Great Lakes Buoys</p>
  </div>
</div>

<google-map [center]="center" [zoom]="zoom">
  <map-marker #marker="mapMarker" *ngFor="let buoy of buoys; index as i" [position]="buoy.position" [label]="buoy.id"
    (mapClick)="openInfoWindow(marker, i)"></map-marker>
  <map-info-window></map-info-window>
</google-map>