<nav class="navbar is-vcentered" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <span class="icon is-medium">
                <i class="fas fa-lg fa-cog has-text-grey-lighter pr-6"></i>
              </span>
              <figure class="image is-64x64 pr-4">
                <img class="is-rounded has-background-white-ter" src="https://piq.codeus.net/static/media/userpics/piq_346160_400x400.png">
              </figure>
              <p class="has-text-light">First Last Name</p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="line mb-3"></div>