.image, img {
    height: 100%;
    object-fit: cover;
}
.has-text-dark{
    position: absolute;
    top: 0;
}


nav {
    background-color: transparent;
}

.line {
    width: 100%;
    border-bottom: 1px solid rgb(82, 113, 186);
}

.navbar-brand{
    position: fixed;
    left: 0;

}

.navbar-end{
margin-right: 5px;
width: 50%;
position: absolute;
right: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
}

#navbarBasicExample{
    background-color: rgba(249, 249, 249, .8)
}

@media screen and (max-width: 1023px){
.navbar-menu.is-active {
    display: flex;
}



}

@media screen and (max-width: 768px){.icon{
    display: none;
}}