.mainContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.createProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.greyLine {
  width: 60%;
  border-bottom: 1px lightgrey solid;
  margin: 10px;
}


