.mainContainer {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  /* border: solid 1px blue; */
}
h1 {
  width: 50%;
  height: 60%;
  text-align: center;
  font-size: xx-large;
  
  color: white;
  border-bottom: 3px solid rgb(57, 151, 181);
}

.contactHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: auto;
}

.infoBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.information {
  margin: auto 10px;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: lightgray 3px;
  justify-content: space-around;
}

.headline{  
    border-bottom: 1px lightgrey solid;}

.contactInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: x-large;
}

.mapBox {
  widows: 75%;
  height: 75%;
  margin: 10px;
}

.socials {
  display: flex;
  flex-direction: column;
 align-items: center;
  height: 50%;
  width: 100%;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.hashtags {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.hashLinks{}

.emailUs{    display: flex;
    flex-direction: column;
    align-items: center;
height: 50%;
width: 100%}

.emails{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getinvolved {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.needHelp{}

i {
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 1023px) {
 
  .nav {
    position: absolute;
    left: 0;
  }
}

@media only screen and (max-width: 760px){

    .mainContainer{
        height: auto;
        align-items: center;
    }
    .contactHeader{
        width: 100%;
    }
    .infoBoxes{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 75%;
        height: 33%;
    }
    .information{
        width: 100%;
        height: auto;
        padding: 15px;
        margin-top: 20px;
    }
}