<div class="top"><app-topheader></app-topheader></div>

<div class="mainContainer">


  <div class="contactHeader"><h1>CONTACT GLOS</h1></div>
  <div class="infoBoxes">
    <!-- <div class="nav"> <app-navigation></app-navigation></div> -->
    <div class="information box">
     <div class="headline"> <h2>We Would Love to Hear From You!</h2></div>
     <div class="contactInfo">
      <p><a href="tel:734-741-2294">(734)-741-2294</a></p>
      <p>4840 South State Street</p>
      <p>Ann Arbor, MI 48108</p>
    </div>
    <div class="mapBox">
   <div class="mapComp"><app-contactMap></app-contactMap></div></div>
    </div>
    <div class="information box">
      
      <div class="socials">
        <div class="headline">
        <h2>Follow Us on Social Media!</h2>
      </div>
      <div class="socialIcons">
        <a href="https://twitter.com/RealGLOS"
          ><i class="fab fa-twitter-square"> </i
        ></a>
        <a href="https://www.instagram.com/greatlakesobservingsystem/">
          <i class="fab fa-instagram-square"></i
        ></a>
        <a href="https://www.facebook.com/GreatLakesObservingSystem">
          <i class="fab fa-facebook-square"> </i
        ></a>
        <a
          href="https://www.linkedin.com/company/great-lakes-observing-system/"
        >
          <i class="fab fa-linkedin"> </i
        ></a>
      </div>
      </div>
      <div class="hashtags">
         <div class="headline"> <h2>Be Sure to Tag Us and Use Our Favorite Hashtags!</h2></div>
         <div class="hashLinks"> <p><a href="https://www.instagram.com/explore/tags/yeahbuoy/">#YeahBuoy</a></p>
          <p><a href="https://www.instagram.com/explore/tags/greatlakesproud/">#GreatLakesProud</a></p></div>
      </div>
    </div>
    <div class="information box">
      <div class="emailUs">
        <div class="headline"><h2>E-Mail Us</h2></div>
        <div class="emails">
        <p>Information: <a href="mailto: info@glos.org">info@glos.org</a></p>
        <p>Support: <a href="mailto: support@glos.org">support@glos.org</a></p>
      </div>
    </div>
        <div class="getinvolved">
       <div class="headline"> <h2>Want To Get Involved?</h2></div>
      <h3>We Would Love Your Help With:</h3>
        <div class="needHelp">
        <ul>
            <li><a href="https://www.glos.us/share-your-data/">Gathering Data</a></li>
            <li>Our <a href="https://www.glos.us/smartgreatlakes/">Smart Great Lakes </a>Undertaking</li>
            <li>The <a href="https://www.glos.us/lakebed-2030/">Lakebed 2030 </a>Project</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
