
<app-topheader></app-topheader>

<div class="columns mr-3">
    <app-navigation></app-navigation>

    <div class="column">
        <div class="box">
            <div class="level-left mb-4">
                <div class="icon is-large mr-4">
                  <img src="/assets/buoy .svg" class="fas fa-3x">
                </div>
                <div>
                  <p class="heading is-size-5">Great Lakes</p>
                  <p class="title is-size-6">Average yearly surface water temperature ()</p>
                </div>
              </div>
            <div
            class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="barChartData" 
                    [labels]="barChartLabels" 
                    [options]="barChartOptions"
                    [colors]="barChartColors" 
                    [legend]="barChartLegend" 
                    [chartType]="barChartType" 
                    [plugins]="barChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>
