
<div class="columns">
    <app-navigation></app-navigation>

    <div class="column">
        <div class="box">
            <div
            class="chart-wrapper">
                <canvas baseChart 
                    [datasets]="barChartData" 
                    [labels]="barChartLabels" 
                    [options]="barChartOptions"
                    [colors]="barChartColors" 
                    [legend]="barChartLegend" 
                    [chartType]="barChartType" 
                    [plugins]="barChartPlugins">
                </canvas>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>
