<app-topheader></app-topheader>

<div class="columns">
  <app-navigation></app-navigation>

  <div class="column">
    <div class="box mapbox">
      <app-maps (newItemEvent)="handleClick($event)"></app-maps>
    </div>
  </div>

  <div class="column level is-one-quarter mr-3">
    <div class="box">
      <p class="title is-5 has-text-centered">Buoy {{buoyID}}</p>
      <div class="level-item has-text-centered pb-3">
        <div>
          <p class="title is-size-6 is-family-monospace has-text-danger">{{mostRecentTime | date:'long'}}</p>
        </div>
      </div>



      <div class="level-item has-text-centered pb-3">
        <div>
          <p class="heading">Temperature:</p>
          <p class="title is-size-5">{{ temperature }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered pb-3">
        <div>
          <p class="heading">Forecast:</p>
          <p class="title is-size-5">{{ forecast }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered pb-3">
        <div>
          <p class="heading">Wind Speed:</p>
          <p class="title is-size-5">{{ windSpeed }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered pb-3">
        <div>
          <p class="heading">Wave Height:</p>
          <p class="title is-size-5">{{ waveHeight }}</p>
        </div>
      </div>
      <div class="columns notification is-info is-vcentered is-mobile mt-4">
        <div class="column is-one-quarter">
          <span class="icon is-large">
            <i class="fas fa-mobile-alt fa-2x"></i>
          </span>
        </div>
        <div class="column">
          <p class="subtitle is-6 is-three-quarters">Text {{buoyID}} toll free to 866-218-9973 for the latest observations.</p>
        </div>
      </div>

    </div>

    <div class="box">
      <div
        [ngClass]="{
          'is-danger':
            safeSwim ===
            'Based on these temperatures, it may not be safe to go swimming at this time.',
          'is-success':
            safeSwim === 'This is a great temperature to go swimming!'
        }"
        class="notification is-light"
        style="overflow: hidden"
      >
        <nav class="level">
          <p>{{ safeSwim }}</p>
        </nav>
      </div>

      <div
        [ngClass]="{
          'is-danger':
            safeKayak ===
            'Based on these temperatures, it may not be safe to go kayaking at this time.',
          'is-success':
            safeKayak === 'This is a great temperature to go kayaking!'
        }"
        class="notification is-light"
      >
        <nav class="level">
          <p>{{ safeKayak }}</p>
        </nav>
      </div>
      <div
        [ngClass]="{
          'is-danger':
            safeBoat ===
            'Based on these temperatures, it may not be safe to go boating at this time.',
          'is-success':
            safeBoat === 'This is a great temperature to take your boat out!'
        }"
        class="notification is-light"
      >
        <nav class="level">
          <p>{{ safeBoat }}</p>
        </nav>
      </div>
    </div>
  </div>
</div>
