aside {
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 20px;
}

.navbar-brand {
    justify-content: center;
    
    top: 100
}

li {
    margin-right: 2%;
    margin-left: 2%;
}

@media only screen and (max-width: 600px) {

}