aside {
    padding-left: 30px;
    height: 100vh;
    width: 300px;
    background-color: rgb(249, 249, 249)
}

.navbar-brand {
    justify-content: center;
    top: 100
}

li {
    margin-right: 2%;
    margin-left: 2%;
}

@media only screen and (max-width: 600px) {

}