aside {
    height: 100vh;
    margin-left: 10px;
    width: 20%;
}

.navbar-brand {
    justify-content: center;
    position: fixed;
    top: 100
}

li {
    margin-right: 2%;
    margin-left: 2%;
}