<aside class="menu pl-6 mt-3 mr-4 box stretch">

    <p class="menu-label">
      General
    </p>
    <ul class="menu-list level level-left">

      <li class="menu-list level level-left">
        <a routerLink="/dashboard">
        <i class="fas fa-columns"></i>
        <div class="anchor">Dashboard</div></a></li>
    </ul>
    
    <p class="menu-label">
      Data
    </p>
    <ul class="menu-list level level-left">
      <li class="menu-list level level-left"><a routerLink="/trends"><i class="fas fa-chart-line"></i><div class="anchor">Trends</div></a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list level level-left">
      
      <li class="menu-list level level-left"><a routerLink="/profile"><i class="far fa-edit"></i><div class="anchor">Edit Profile</div></a></li>
    </ul>
    <p class="menu-label">
      Contact
    </p>
    <ul class="menu-list level level-left">

      <li class="menu-list level level-left"><a routerLink="/contact" ><i class="far fa-address-book"></i><div class="anchor">Contact Us</div></a></li>
    </ul>
  </aside>

  