body {
    background: rgba(57, 151, 181, .3);
  }

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    top: 25%;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}



p{font-size: x-small;
text-align: center;
}

.name{
    display: flex;
    flex-direction: row;
}
.check{
    display: flex;
    flex-direction: row;
}

.is-success{
    background-color: rgb(57, 151, 181)
}