.formContainer{
width: 60%;
height: 60%;
border: black 1px solid;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
p{}

.name{
    display: flex;
    flex-direction: row;
}
.check{
    display: flex;
    flex-direction: row;
}