<div class="formContainer">
<h1>CREATE AN ACCOUNT</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="name">
    First Name<input name="firstname" type="text" formControlName="firstname">
    Last Name<input name="lastname" type="text" formControlName="lastname">
</div>
    E-Mail Address<input type="email" name="email" formControlName="email">
    <p>*E-Mail is for login purposes only. GLOS will not send you any e-mails</p>
    Password<input type="text" name="password" formControlName="password">
        <input type="submit" value="Create Profile" />
</form>
</div>