/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(239, 248, 250);
    background-image: url("./assets/glosbackground.png");
    width: 100%;
}
